<div class="container-fluid" id="login-header">
    <div class="col-4">
        <a href="/homepage">
            <img src="/images/pokeballer-logo-sm.png" alt="PokeBaller" class="logo" />
        </a>
    </div>
</div>

<nav class="navbar justify-content-end navbar-dark bg-dark">
    <!-- Navbar content -->
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/collection">VIEW</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active logout" href="/login">LOGOUT</a>
        </li>
    </ul>
</nav>

<div class="row justify-content-center text-center addbox">
    <h2 id="add-crd" class="text-center header-two"><span class="poke-red">Search</span> Cards</h2>
    <p>Type the name of the pokemon you want to search in the search bar.</p>
    <div class="col-sm-auto search">
        <img src="/images/pokemon_search.png" class="w-100 search-img" alt="search_pokemon">
        <form id="add-form" class="input-card text-center col-sm-auto">
            <input id="search-card" list="card-list" name="crd">
            <input id="BtnCard" type="submit" value="Search">
            {{!-- <datalist id ="card-list">


            </datalist> --}}
            {{!-- https://www.w3schools.com/tags/tag_datalist.asp#:~:text=The%20tag%20specifies%20a,options%20as%20they%20input%20data. --}}
        </form>
    </div>
    <h2 id="add-crd" class="text-center header-two mt-1"><span class="poke-red">Add</span> Cards</h2>
    <p class="mb-5">Click a card for it to be added to your collection.</p>
</div>

<section class="row justify-content-center card-table">
    {{#each card}}


    <button onclick="add('{{id}}', '{{name}}', '{{rarity}}', '{{images}}')" class="card col-2">
        <img src="{{images}}" class="img-responsive w-100" alt="{{name}}">
        <div class="overlay">
            <p class="rare-text">{{rarity}}</p>
        </div>
    </button>


    {{/each}}
</section>

<script src="/js/search.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>