<div class="container-fluid" id="login-header">
  <div class="col-4">
    <a href="/homepage">
      <img src="/images/pokeballer-logo-sm.png" alt="PokeBaller" class="logo" />
    </a>
  </div>
</div>

<nav class="navbar justify-content-end navbar-dark bg-dark">
  <!-- Navbar content -->
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/collection">VIEW</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active logout" href="/login">LOGOUT</a>
    </li>
  </ul>
</nav>

<div class="row justify-content-center text-center addbox">
  <h2 id="add-crd" class="text-center header-two"><span class="poke-red">Search</span>
    Cards</h2>
  <p>Type the name of the pokemon you want to search in the search bar.</p>
  <div class="col-sm-auto search">
    <img src="/images/pokemon_search.png" class="w-100 search-img" alt="search_pokemon" />
    <form id="add-form" class="input-card text-center col-sm-auto">
      {{! <input id="BtnCard" type="submit" value="Search"> }}
      <input id="search-card" list="card-list" name="crd" aria-label="pokemonpicker" />
      <datalist id="card-list">
        <option value="Abomasnow"></option>
        <option value="Abra"></option>
        <option value="Absol"></option>
        <option value="Accelgor"></option>
        <option value="Aegislash"></option>
        <option value="Aerodactyl"></option>
        <option value="Aggron"></option>
        <option value="Aipom"></option>
        <option value="Alakazam"></option>
        <option value="Alomomola"></option>
        <option value="Altaria"></option>
        <option value="Amaura"></option>
        <option value="Ambipom"></option>
        <option value="Amoonguss"></option>
        <option value="Ampharos"></option>
        <option value="Anorith"></option>
        <option value="Araquanid"></option>
        <option value="Arbok"></option>
        <option value="Arcanine"></option>
        <option value="Arceus"></option>
        <option value="Archen"></option>
        <option value="Archeops"></option>
        <option value="Ariados"></option>
        <option value="Armaldo"></option>
        <option value="Aromatisse"></option>
        <option value="Aron"></option>
        <option value="Articuno"></option>
        <option value="Audino"></option>
        <option value="Aurorus"></option>
        <option value="Avalugg"></option>
        <option value="Axew"></option>
        <option value="Azelf"></option>
        <option value="Azumarill"></option>
        <option value="Azurill"></option>
        <option value="Bagon"></option>
        <option value="Baltoy"></option>
        <option value="Banette"></option>
        <option value="Barbaracle"></option>
        <option value="Barboach"></option>
        <option value="Basculin"></option>
        <option value="Bastiodon"></option>
        <option value="Bayleef"></option>
        <option value="Beartic"></option>
        <option value="Beautifly"></option>
        <option value="Beedrill"></option>
        <option value="Beheeyem"></option>
        <option value="Beldum"></option>
        <option value="Bellossom"></option>
        <option value="Bellsprout"></option>
        <option value="Bergmite"></option>
        <option value="Bewear"></option>
        <option value="Bibarel"></option>
        <option value="Bidoof"></option>
        <option value="Binacle"></option>
        <option value="Bisharp"></option>
        <option value="Blacephalon"></option>
        <option value="Blastoise"></option>
        <option value="Blaziken"></option>
        <option value="Blissey"></option>
        <option value="Blitzle"></option>
        <option value="Boldore"></option>
        <option value="Bonsly"></option>
        <option value="Bouffalant"></option>
        <option value="Bounsweet"></option>
        <option value="Braixen"></option>
        <option value="Braviary"></option>
        <option value="Breloom"></option>
        <option value="Brionne"></option>
        <option value="Bronzong"></option>
        <option value="Bronzor"></option>
        <option value="Bruxish"></option>
        <option value="Budew"></option>
        <option value="Buizel"></option>
        <option value="Bulbasaur"></option>
        <option value="Buneary"></option>
        <option value="Bunnelby"></option>
        <option value="Burmy"></option>
        <option value="Butterfree"></option>
        <option value="Buzzwole"></option>
        <option value="Cacnea"></option>
        <option value="Cacturne"></option>
        <option value="Camerupt"></option>
        <option value="Carbink"></option>
        <option value="Carnivine"></option>
        <option value="Carracosta"></option>
        <option value="Carvanha"></option>
        <option value="Cascoon"></option>
        <option value="Castform"></option>
        <option value="Caterpie"></option>
        <option value="Celebi"></option>
        <option value="Celesteela"></option>
        <option value="Chandelure"></option>
        <option value="Chansey"></option>
        <option value="Charizard"></option>
        <option value="Charjabug"></option>
        <option value="Charmander"></option>
        <option value="Charmeleon"></option>
        <option value="Chatot"></option>
        <option value="Cherrim"></option>
        <option value="Cherubi"></option>
        <option value="Chesnaught"></option>
        <option value="Chespin"></option>
        <option value="Chikorita"></option>
        <option value="Chimchar"></option>
        <option value="Chimecho"></option>
        <option value="Chinchou"></option>
        <option value="Chingling"></option>
        <option value="Cinccino"></option>
        <option value="Clamperl"></option>
        <option value="Clauncher"></option>
        <option value="Clawitzer"></option>
        <option value="Claydol"></option>
        <option value="Clefable"></option>
        <option value="Clefairy"></option>
        <option value="Cleffa"></option>
        <option value="Cloyster"></option>
        <option value="Cobalion"></option>
        <option value="Cofagrigus"></option>
        <option value="Combee"></option>
        <option value="Combusken"></option>
        <option value="Comfey"></option>
        <option value="Conkeldurr"></option>
        <option value="Corphish"></option>
        <option value="Corsola"></option>
        <option value="Cosmoem"></option>
        <option value="Cosmog"></option>
        <option value="Cottonee"></option>
        <option value="Crabominable"></option>
        <option value="Crabrawler"></option>
        <option value="Cradily"></option>
        <option value="Cranidos"></option>
        <option value="Crawdaunt"></option>
        <option value="Cresselia"></option>
        <option value="Croagunk"></option>
        <option value="Crobat"></option>
        <option value="Croconaw"></option>
        <option value="Crustle"></option>
        <option value="Cryogonal"></option>
        <option value="Cubchoo"></option>
        <option value="Cubone"></option>
        <option value="Cutiefly"></option>
        <option value="Cyndaquil"></option>
        <option value="Darkrai"></option>
        <option value="Darmanitan"></option>
        <option value="Dartrix"></option>
        <option value="Darumaka"></option>
        <option value="Decidueye"></option>
        <option value="Dedenne"></option>
        <option value="Deerling"></option>
        <option value="Deino"></option>
        <option value="Delcatty"></option>
        <option value="Delibird"></option>
        <option value="Delphox"></option>
        <option value="Deoxys"></option>
        <option value="Dewgong"></option>
        <option value="Dewott"></option>
        <option value="Dewpider"></option>
        <option value="Dhelmise"></option>
        <option value="Dialga"></option>
        <option value="Diancie"></option>
        <option value="Diggersby"></option>
        <option value="Diglett"></option>
        <option value="Ditto"></option>
        <option value="Dodrio"></option>
        <option value="Doduo"></option>
        <option value="Donphan"></option>
        <option value="Doublade"></option>
        <option value="Dragalge"></option>
        <option value="Dragonair"></option>
        <option value="Dragonite"></option>
        <option value="Drampa"></option>
        <option value="Drapion"></option>
        <option value="Dratini"></option>
        <option value="Drifblim"></option>
        <option value="Drifloon"></option>
        <option value="Drilbur"></option>
        <option value="Drowzee"></option>
        <option value="Druddigon"></option>
        <option value="Ducklett"></option>
        <option value="Dugtrio"></option>
        <option value="Dunsparce"></option>
        <option value="Duosion"></option>
        <option value="Durant"></option>
        <option value="Dusclops"></option>
        <option value="Dusknoir"></option>
        <option value="Duskull"></option>
        <option value="Dustox"></option>
        <option value="Dwebble"></option>
        <option value="Eelektrik"></option>
        <option value="Eelektross"></option>
        <option value="Eevee"></option>
        <option value="Ekans"></option>
        <option value="Electabuzz"></option>
        <option value="Electivire"></option>
        <option value="Electrike"></option>
        <option value="Electrode"></option>
        <option value="Elekid"></option>
        <option value="Elgyem"></option>
        <option value="Emboar"></option>
        <option value="Emolga"></option>
        <option value="Empoleon"></option>
        <option value="Entei"></option>
        <option value="Escavalier"></option>
        <option value="Espeon"></option>
        <option value="Espurr"></option>
        <option value="Excadrill"></option>
        <option value="Exeggcute"></option>
        <option value="Exeggutor"></option>
        <option value="Exploud"></option>
        <option value="Farfetch’d"></option>
        <option value="Fearow"></option>
        <option value="Feebas"></option>
        <option value="Fennekin"></option>
        <option value="Feraligatr"></option>
        <option value="Ferroseed"></option>
        <option value="Ferrothorn"></option>
        <option value="Finneon"></option>
        <option value="Flaaffy"></option>
        <option value="Flabebe"></option>
        <option value="Flareon"></option>
        <option value="Fletchinder"></option>
        <option value="Fletchling"></option>
        <option value="Floatzel"></option>
        <option value="Floette"></option>
        <option value="Florges"></option>
        <option value="Flygon"></option>
        <option value="Fomantis"></option>
        <option value="Foongus"></option>
        <option value="Forretress"></option>
        <option value="Fraxure"></option>
        <option value="Frillish"></option>
        <option value="Froakie"></option>
        <option value="Frogadier"></option>
        <option value="Froslass"></option>
        <option value="Furfrou"></option>
        <option value="Furret"></option>
        <option value="Gabite"></option>
        <option value="Gallade"></option>
        <option value="Galvantula"></option>
        <option value="Garbodor"></option>
        <option value="Garchomp"></option>
        <option value="Gardevoir"></option>
        <option value="Gastly"></option>
        <option value="Gastrodon"></option>
        <option value="Genesect"></option>
        <option value="Gengar"></option>
        <option value="Geodude"></option>
        <option value="Gible"></option>
        <option value="Gigalith"></option>
        <option value="Girafarig"></option>
        <option value="Giratina"></option>
        <option value="Glaceon"></option>
        <option value="Glalie"></option>
        <option value="Glameow"></option>
        <option value="Gligar"></option>
        <option value="Gliscor"></option>
        <option value="Gloom"></option>
        <option value="Gogoat"></option>
        <option value="Golbat"></option>
        <option value="Goldeen"></option>
        <option value="Golduck"></option>
        <option value="Golem"></option>
        <option value="Golett"></option>
        <option value="Golisopod"></option>
        <option value="Golurk"></option>
        <option value="Goodra"></option>
        <option value="Goomy"></option>
        <option value="Gorebyss"></option>
        <option value="Gothita"></option>
        <option value="Gothitelle"></option>
        <option value="Gothorita"></option>
        <option value="Gourgeist"></option>
        <option value="Granbull"></option>
        <option value="Graveler"></option>
        <option value="Greninja"></option>
        <option value="Grimer"></option>
        <option value="Grotle"></option>
        <option value="Groudon"></option>
        <option value="Grovyle"></option>
        <option value="Growlithe"></option>
        <option value="Grubbin"></option>
        <option value="Grumpig"></option>
        <option value="Gulpin"></option>
        <option value="Gumshoos"></option>
        <option value="Gurdurr"></option>
        <option value="Guzzlord"></option>
        <option value="Gyarados"></option>
        <option value="Hakamo-o"></option>
        <option value="Happiny"></option>
        <option value="Hariyama"></option>
        <option value="Haunter"></option>
        <option value="Hawlucha"></option>
        <option value="Haxorus"></option>
        <option value="Heatmor"></option>
        <option value="Heatran"></option>
        <option value="Heliolisk"></option>
        <option value="Helioptile"></option>
        <option value="Heracross"></option>
        <option value="Herdier"></option>
        <option value="Hippopotas"></option>
        <option value="Hippowdon"></option>
        <option value="Hitmonchan"></option>
        <option value="Hitmonlee"></option>
        <option value="Hitmontop"></option>
        <option value="Honchkrow"></option>
        <option value="Honedge"></option>
        <option value="Ho-Oh"></option>
        <option value="Hoopa"></option>
        <option value="Hoothoot"></option>
        <option value="Hoppip"></option>
        <option value="Horsea"></option>
        <option value="Houndoom"></option>
        <option value="Houndour"></option>
        <option value="Huntail"></option>
        <option value="Hydreigon"></option>
        <option value="Hypno"></option>
        <option value="Igglybuff"></option>
        <option value="Illumise"></option>
        <option value="Incineroar"></option>
        <option value="Infernape"></option>
        <option value="Inkay"></option>
        <option value="Ivysaur"></option>
        <option value="Jangmo-o"></option>
        <option value="Jellicent"></option>
        <option value="Jigglypuff"></option>
        <option value="Jirachi"></option>
        <option value="Jolteon"></option>
        <option value="Joltik"></option>
        <option value="Jumpluff"></option>
        <option value="Jynx"></option>
        <option value="Kabuto"></option>
        <option value="Kabutops"></option>
        <option value="Kadabra"></option>
        <option value="Kakuna"></option>
        <option value="Kangaskhan"></option>
        <option value="Karrablast"></option>
        <option value="Kartana"></option>
        <option value="Kecleon"></option>
        <option value="Keldeo"></option>
        <option value="Kingdra"></option>
        <option value="Kingler"></option>
        <option value="Kirlia"></option>
        <option value="Klang"></option>
        <option value="Klefki"></option>
        <option value="Klink"></option>
        <option value="Klinklang"></option>
        <option value="Koffing"></option>
        <option value="Komala"></option>
        <option value="Kommo-o"></option>
        <option value="Krabby"></option>
        <option value="Kricketot"></option>
        <option value="Kricketune"></option>
        <option value="Krokorok"></option>
        <option value="Krookodile"></option>
        <option value="Kyogre"></option>
        <option value="Kyurem"></option>
        <option value="Lairon"></option>
        <option value="Lampent"></option>
        <option value="Landorus"></option>
        <option value="Lanturn"></option>
        <option value="Lapras"></option>
        <option value="Larvesta"></option>
        <option value="Larvitar"></option>
        <option value="Latias"></option>
        <option value="Latios"></option>
        <option value="Leafeon"></option>
        <option value="Leavanny"></option>
        <option value="Ledian"></option>
        <option value="Ledyba"></option>
        <option value="Lickilicky"></option>
        <option value="Lickitung"></option>
        <option value="Liepard"></option>
        <option value="Lileep"></option>
        <option value="Lilligant"></option>
        <option value="Lillipup"></option>
        <option value="Linoone"></option>
        <option value="Litleo"></option>
        <option value="Litten"></option>
        <option value="Litwick"></option>
        <option value="Lombre"></option>
        <option value="Lopunny"></option>
        <option value="Lotad"></option>
        <option value="Loudred"></option>
        <option value="Lucario"></option>
        <option value="Ludicolo"></option>
        <option value="Lugia"></option>
        <option value="Lumineon"></option>
        <option value="Lunala"></option>
        <option value="Lunatone"></option>
        <option value="Lurantis"></option>
        <option value="Luvdisc"></option>
        <option value="Luxio"></option>
        <option value="Luxray"></option>
        <option value="Lycanroc"></option>
        <option value="Machamp"></option>
        <option value="Machoke"></option>
        <option value="Machop"></option>
        <option value="Magby"></option>
        <option value="Magcargo"></option>
        <option value="Magearna"></option>
        <option value="Magikarp"></option>
        <option value="Magmar"></option>
        <option value="Magmortar"></option>
        <option value="Magnemite"></option>
        <option value="Magneton"></option>
        <option value="Magnezone"></option>
        <option value="Makuhita"></option>
        <option value="Malamar"></option>
        <option value="Mamoswine"></option>
        <option value="Manaphy"></option>
        <option value="Mandibuzz"></option>
        <option value="Manectric"></option>
        <option value="Mankey"></option>
        <option value="Mantine"></option>
        <option value="Mantyke"></option>
        <option value="Maractus"></option>
        <option value="Mareanie"></option>
        <option value="Mareep"></option>
        <option value="Marill"></option>
        <option value="Marowak"></option>
        <option value="Marshadow"></option>
        <option value="Marshtomp"></option>
        <option value="Masquerain"></option>
        <option value="Mawile"></option>
        <option value="Medicham"></option>
        <option value="Meditite"></option>
        <option value="Meganium"></option>
        <option value="Melmetal"></option>
        <option value="Meloetta"></option>
        <option value="Meltan"></option>
        <option value="Meowstic"></option>
        <option value="Meowth"></option>
        <option value="Mesprit"></option>
        <option value="Metagross"></option>
        <option value="Metang"></option>
        <option value="Metapod"></option>
        <option value="Mew"></option>
        <option value="Mewtwo"></option>
        <option value="Mienfoo"></option>
        <option value="Mienshao"></option>
        <option value="Mightyena"></option>
        <option value="Milotic"></option>
        <option value="Miltank"></option>
        <option value="Mime Jr."></option>
        <option value="Mimikyu"></option>
        <option value="Minccino"></option>
        <option value="Minior"></option>
        <option value="Minun"></option>
        <option value="Misdreavus"></option>
        <option value="Mismagius"></option>
        <option value="Moltres"></option>
        <option value="Monferno"></option>
        <option value="Morelull"></option>
        <option value="Mothim"></option>
        <option value="Mr. Mime"></option>
        <option value="Mudbray"></option>
        <option value="Mudkip"></option>
        <option value="Mudsdale"></option>
        <option value="Muk"></option>
        <option value="Munchlax"></option>
        <option value="Munna"></option>
        <option value="Murkrow"></option>
        <option value="Musharna"></option>
        <option value="Naganadel"></option>
        <option value="Natu"></option>
        <option value="Necrozma"></option>
        <option value="Nidoking"></option>
        <option value="Nidoqueen"></option>
        <option value="Nidoran♀"></option>
        <option value="Nidoran♂"></option>
        <option value="Nidorina"></option>
        <option value="Nidorino"></option>
        <option value="Nihilego"></option>
        <option value="Nincada"></option>
        <option value="Ninetales"></option>
        <option value="Ninjask"></option>
        <option value="Noctowl"></option>
        <option value="Noibat"></option>
        <option value="Noivern"></option>
        <option value="Nosepass"></option>
        <option value="Numel"></option>
        <option value="Nuzleaf"></option>
        <option value="Octillery"></option>
        <option value="Oddish"></option>
        <option value="Omanyte"></option>
        <option value="Omastar"></option>
        <option value="Onix"></option>
        <option value="Oranguru"></option>
        <option value="Oricorio"></option>
        <option value="Oshawott"></option>
        <option value="Pachirisu"></option>
        <option value="Palkia"></option>
        <option value="Palossand"></option>
        <option value="Palpitoad"></option>
        <option value="Pancham"></option>
        <option value="Pangoro"></option>
        <option value="Panpour"></option>
        <option value="Pansage"></option>
        <option value="Pansear"></option>
        <option value="Paras"></option>
        <option value="Parasect"></option>
        <option value="Passimian"></option>
        <option value="Patrat"></option>
        <option value="Pawniard"></option>
        <option value="Pelipper"></option>
        <option value="Persian"></option>
        <option value="Petilil"></option>
        <option value="Phanpy"></option>
        <option value="Phantump"></option>
        <option value="Pheromosa"></option>
        <option value="Phione"></option>
        <option value="Pichu"></option>
        <option value="Pidgeot"></option>
        <option value="Pidgeotto"></option>
        <option value="Pidgey"></option>
        <option value="Pidove"></option>
        <option value="Pignite"></option>
        <option value="Pikachu"></option>
        <option value="Pikipek"></option>
        <option value="Piloswine"></option>
        <option value="Pineco"></option>
        <option value="Pinsir"></option>
        <option value="Piplup"></option>
        <option value="Plusle"></option>
        <option value="Poipole"></option>
        <option value="Politoed"></option>
        <option value="Poliwag"></option>
        <option value="Poliwhirl"></option>
        <option value="Poliwrath"></option>
        <option value="Ponyta"></option>
        <option value="Poochyena"></option>
        <option value="Popplio"></option>
        <option value="Porygon"></option>
        <option value="Porygon2"></option>
        <option value="Porygon-Z"></option>
        <option value="Primarina"></option>
        <option value="Primeape"></option>
        <option value="Prinplup"></option>
        <option value="Probopass"></option>
        <option value="Psyduck"></option>
        <option value="Pumpkaboo"></option>
        <option value="Pupitar"></option>
        <option value="Purrloin"></option>
        <option value="Purugly"></option>
        <option value="Pyroar"></option>
        <option value="Pyukumuku"></option>
        <option value="Quagsire"></option>
        <option value="Quilava"></option>
        <option value="Quilladin"></option>
        <option value="Qwilfish"></option>
        <option value="Raichu"></option>
        <option value="Raikou"></option>
        <option value="Ralts"></option>
        <option value="Rampardos"></option>
        <option value="Rapidash"></option>
        <option value="Raticate"></option>
        <option value="Rattata"></option>
        <option value="Rayquaza"></option>
        <option value="Regice"></option>
        <option value="Regigigas"></option>
        <option value="Regirock"></option>
        <option value="Registeel"></option>
        <option value="Relicanth"></option>
        <option value="Remoraid"></option>
        <option value="Reshiram"></option>
        <option value="Reuniclus"></option>
        <option value="Rhydon"></option>
        <option value="Rhyhorn"></option>
        <option value="Rhyperior"></option>
        <option value="Ribombee"></option>
        <option value="Riolu"></option>
        <option value="Rockruff"></option>
        <option value="Roggenrola"></option>
        <option value="Roselia"></option>
        <option value="Roserade"></option>
        <option value="Rotom"></option>
        <option value="Rowlet"></option>
        <option value="Rufflet"></option>
        <option value="Sableye"></option>
        <option value="Salamence"></option>
        <option value="Salandit"></option>
        <option value="Salazzle"></option>
        <option value="Samurott"></option>
        <option value="Sandile"></option>
        <option value="Sandshrew"></option>
        <option value="Sandslash"></option>
        <option value="Sandygast"></option>
        <option value="Sawk"></option>
        <option value="Sawsbuck"></option>
        <option value="Scatterbug"></option>
        <option value="Sceptile"></option>
        <option value="Scizor"></option>
        <option value="Scolipede"></option>
        <option value="Scrafty"></option>
        <option value="Scraggy"></option>
        <option value="Scyther"></option>
        <option value="Seadra"></option>
        <option value="Seaking"></option>
        <option value="Sealeo"></option>
        <option value="Seedot"></option>
        <option value="Seel"></option>
        <option value="Seismitoad"></option>
        <option value="Sentret"></option>
        <option value="Serperior"></option>
        <option value="Servine"></option>
        <option value="Seviper"></option>
        <option value="Sewaddle"></option>
        <option value="Sharpedo"></option>
        <option value="Shaymin"></option>
        <option value="Shedinja"></option>
        <option value="Shelgon"></option>
        <option value="Shellder"></option>
        <option value="Shellos"></option>
        <option value="Shelmet"></option>
        <option value="Shieldon"></option>
        <option value="Shiftry"></option>
        <option value="Shiinotic"></option>
        <option value="Shinx"></option>
        <option value="Shroomish"></option>
        <option value="Shuckle"></option>
        <option value="Shuppet"></option>
        <option value="Sigilyph"></option>
        <option value="Silcoon"></option>
        <option value="Silvally"></option>
        <option value="Simipour"></option>
        <option value="Simisage"></option>
        <option value="Simisear"></option>
        <option value="Skarmory"></option>
        <option value="Skiddo"></option>
        <option value="Skiploom"></option>
        <option value="Skitty"></option>
        <option value="Skorupi"></option>
        <option value="Skrelp"></option>
        <option value="Skuntank"></option>
        <option value="Slaking"></option>
        <option value="Slakoth"></option>
        <option value="Sliggoo"></option>
        <option value="Slowbro"></option>
        <option value="Slowking"></option>
        <option value="Slowpoke"></option>
        <option value="Slugma"></option>
        <option value="Slurpuff"></option>
        <option value="Smeargle"></option>
        <option value="Smoochum"></option>
        <option value="Sneasel"></option>
        <option value="Snivy"></option>
        <option value="Snorlax"></option>
        <option value="Snorunt"></option>
        <option value="Snover"></option>
        <option value="Snubbull"></option>
        <option value="Solgaleo"></option>
        <option value="Solosis"></option>
        <option value="Solrock"></option>
        <option value="Spearow"></option>
        <option value="Spewpa"></option>
        <option value="Spheal"></option>
        <option value="Spinarak"></option>
        <option value="Spinda"></option>
        <option value="Spiritomb"></option>
        <option value="Spoink"></option>
        <option value="Spritzee"></option>
        <option value="Squirtle"></option>
        <option value="Stakataka"></option>
        <option value="Stantler"></option>
        <option value="Staraptor"></option>
        <option value="Staravia"></option>
        <option value="Starly"></option>
        <option value="Starmie"></option>
        <option value="Staryu"></option>
        <option value="Steelix"></option>
        <option value="Steenee"></option>
        <option value="Stoutland"></option>
        <option value="Stufful"></option>
        <option value="Stunfisk"></option>
        <option value="Stunky"></option>
        <option value="Sudowoodo"></option>
        <option value="Suicune"></option>
        <option value="Sunflora"></option>
        <option value="Sunkern"></option>
        <option value="Surskit"></option>
        <option value="Swablu"></option>
        <option value="Swadloon"></option>
        <option value="Swalot"></option>
        <option value="Swampert"></option>
        <option value="Swanna"></option>
        <option value="Swellow"></option>
        <option value="Swinub"></option>
        <option value="Swirlix"></option>
        <option value="Swoobat"></option>
        <option value="Sylveon"></option>
        <option value="Taillow"></option>
        <option value="Talonflame"></option>
        <option value="Tangela"></option>
        <option value="Tangrowth"></option>
        <option value="Tapu Bulu"></option>
        <option value="Tapu Fini"></option>
        <option value="Tapu Koko"></option>
        <option value="Tapu Lele"></option>
        <option value="Tauros"></option>
        <option value="Teddiursa"></option>
        <option value="Tentacool"></option>
        <option value="Tentacruel"></option>
        <option value="Tepig"></option>
        <option value="Terrakion"></option>
        <option value="Throh"></option>
        <option value="Thundurus"></option>
        <option value="Timburr"></option>
        <option value="Tirtouga"></option>
        <option value="Togedemaru"></option>
        <option value="Togekiss"></option>
        <option value="Togepi"></option>
        <option value="Togetic"></option>
        <option value="Torchic"></option>
        <option value="Torkoal"></option>
        <option value="Tornadus"></option>
        <option value="Torracat"></option>
        <option value="Torterra"></option>
        <option value="Totodile"></option>
        <option value="Toucannon"></option>
        <option value="Toxapex"></option>
        <option value="Toxicroak"></option>
        <option value="Tranquill"></option>
        <option value="Trapinch"></option>
        <option value="Treecko"></option>
        <option value="Trevenant"></option>
        <option value="Tropius"></option>
        <option value="Trubbish"></option>
        <option value="Trumbeak"></option>
        <option value="Tsareena"></option>
        <option value="Turtonator"></option>
        <option value="Turtwig"></option>
        <option value="Tympole"></option>
        <option value="Tynamo"></option>
        <option value="Type: Null"></option>
        <option value="Typhlosion"></option>
        <option value="Tyranitar"></option>
        <option value="Tyrantrum"></option>
        <option value="Tyrogue"></option>
        <option value="Tyrunt"></option>
        <option value="Umbreon"></option>
        <option value="Unfezant"></option>
        <option value="Unown"></option>
        <option value="Ursaring"></option>
        <option value="Uxie"></option>
        <option value="Vanillish"></option>
        <option value="Vanillite"></option>
        <option value="Vanilluxe"></option>
        <option value="Vaporeon"></option>
        <option value="Venipede"></option>
        <option value="Venomoth"></option>
        <option value="Venonat"></option>
        <option value="Venusaur"></option>
        <option value="Vespiquen"></option>
        <option value="Vibrava"></option>
        <option value="Victini"></option>
        <option value="Victreebel"></option>
        <option value="Vigoroth"></option>
        <option value="Vikavolt"></option>
        <option value="Vileplume"></option>
        <option value="Virizion"></option>
        <option value="Vivillon"></option>
        <option value="Volbeat"></option>
        <option value="Volcanion"></option>
        <option value="Volcarona"></option>
        <option value="Voltorb"></option>
        <option value="Vullaby"></option>
        <option value="Vulpix"></option>
        <option value="Wailmer"></option>
        <option value="Wailord"></option>
        <option value="Walrein"></option>
        <option value="Wartortle"></option>
        <option value="Watchog"></option>
        <option value="Weavile"></option>
        <option value="Weedle"></option>
        <option value="Weepinbell"></option>
        <option value="Weezing"></option>
        <option value="Whimsicott"></option>
        <option value="Whirlipede"></option>
        <option value="Whiscash"></option>
        <option value="Whismur"></option>
        <option value="Wigglytuff"></option>
        <option value="Wimpod"></option>
        <option value="Wingull"></option>
        <option value="Wishiwashi"></option>
        <option value="Wobbuffet"></option>
        <option value="Woobat"></option>
        <option value="Wooper"></option>
        <option value="Wormadam"></option>
        <option value="Wurmple"></option>
        <option value="Wynaut"></option>
        <option value="Xatu"></option>
        <option value="Xerneas"></option>
        <option value="Xurkitree"></option>
        <option value="Yamask"></option>
        <option value="Yanma"></option>
        <option value="Yanmega"></option>
        <option value="Yungoos"></option>
        <option value="Yveltal"></option>
        <option value="Zangoose"></option>
        <option value="Zapdos"></option>
        <option value="Zebstrika"></option>
        <option value="Zekrom"></option>
        <option value="Zeraora"></option>
        <option value="Zigzagoon"></option>
        <option value="Zoroark"></option>
        <option value="Zorua"></option>
        <option value="Zubat"></option>
        <option value="Zweilous"></option>
        <option value="Zygarde"></option>
      </datalist>
      <button class="btn btn-primary" type="submit" id="submit">Search</button>
    </form>
  </div>
  <h2 id="add-crd" class="text-center header-two mt-1"><span class="poke-red">Add</span>
    Cards</h2>
  <p class="mb-5">Click a card for it to be added to your collection.</p>
</div>


{{!
https://www.w3schools.com/tags/tag_datalist.asp#:~:text=The%20tag%20specifies%20a,options%20as%20they%20input%20data. }}

<section class="row justify-content-center card-table">
  {{#each card}}

  <button onclick="add('{{id}}', '{{name}}', '{{rarity}}', '{{images}}')" class="card col-2">
    <img src="{{images}}" class="img-responsive w-100" alt="{{name}}" />
    <div class="overlay">
      <p class="rare-text">{{rarity}}</p>
    </div>
  </button>

  {{/each}}
</section>

<!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true"
  role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
				<button type="button" onclick="closeModalAdd()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modalFont">
        Card has been added to your collection!
      </div>
      <div class="modal-footer">
        <button onclick="closeModalAdd()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="ErrorModal" tabindex="-1" aria-labelledby="ErrorModalLabel" aria-hidden="true"
  role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body modalFont">
        This card is already in your collection.
      </div>
      <div class="modal-footer">
        <button onclick="closeModalError()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>

<script src="/js/search.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>