<div class="container-fluid" id="login-header">
    <div class="col-4">
        <a href="/homepage">
            <img src="/images/pokeballer-logo-sm.png" alt="PokeBaller" class="logo" />
        </a>
    </div>
</div>

<nav class="navbar justify-content-end navbar-dark bg-dark">
    <!-- Navbar content -->
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/add">ADD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active logout" href="/login">LOGOUT</a>
        </li>
    </ul>
</nav>

<h2 class="header-two"> <span class="poke-red">Your</span> Collection:</h2>
<div class="container-fluid justify-content-center text-center container">

    <p>Click on a card to remove it from your collection.</p>

</div>


<section class="row justify-content-center card-table">

    {{#each pokemons}}


    <button onclick="remove('{{this.id}}', '{{this.name}}', '{{this.rarity}}', '{{this.images}}')" class="card col-2">
        <img src="{{this.images}}" class="img-responsive w-100" alt="{{this.name}}">
        <div class="overlay">
            <p class="rare-text">{{this.rarity}}</p>
        </div>
    </button>


    {{/each}}
</section>

<script src="/js/collection.js"></script>