<div class="container-fluid" id="login-header">
    <div class="col-4 logocontainer">
        <a href="/homepage">
<<<<<<< HEAD
            <img src="/images/pokeballer-logo-sm.png" alt="PokeBaller" class="logo img-responsive" />
=======
            <img src="/images/pokeballer-logo-sm.png" alt="PokeBaller" class="logo" />
>>>>>>> a9343d58839818442b7bcd66b1c2e57eac9a9079
        </a>
    </div>
</div>
<nav class="navbar justify-content-end navbar-dark bg-dark">
    <!-- Navbar content -->
    <ul class="nav justify-content-end">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                COLLECTION
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/collection">VIEW</a></li>
                <li><a class="dropdown-item" href="/add">ADD</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link active logout" href="/login">LOGOUT</a>
        </li>
    </ul>
</nav>

<div class="container-fluid justify-content-center text-center container mt-3">

    <h2> <span class="poke-red">Welcome to Poke</span>Baller!</h2>
    <p>Use PokeBaller to add and keep track of cards in your own personal digital collection.</p>
    <p>Navigate to "add" to begin compiling cards to your collection.</p>
    <p>To see your collection, navigate to "view."</p>

</div>

<div class="container">

    <h2 class='text-center justify-content-center mt-5'> <span class="poke-red">Suggested</span> Cards</h2>
    <section class="row justify-center card-table">
        {{#each suggested}}


        <button onclick="add('{{rid}}', '{{rname}}', '{{rrarity}}', '{{rimages}}')" class="card col-2">
            <img src="{{rimages}}" class="img-responsive w-100" alt="{{rname}}">
            <div class="overlay">
                <p class="rare-text">{{rrarity}}</p>
            </div>
        </button>


        {{/each}}
    </section>

</div>

<!-- Add Modal -->
<div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body modalFont">
                Card has been added to your collection!
            </div>
            <div class="modal-footer">
                <button onclick="closeModalAdd()" type="button" class="btn btn-primary"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Error Modal -->
<div class="modal fade" id="ErrorModal" tabindex="-1" aria-labelledby="ErrorModalLabel" aria-hidden="true"
    role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body modalFont">
                This card is already in your collection.
            </div>
            <div class="modal-footer">
                <button onclick="closeModalError()" type="button" class="btn btn-primary"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>

<script src="/js/home.js"></script>