<div class="container-fluid" id="login-header">
    <div class="col-4">
        <a href="/homepage">
            <img src="/images/pokeballer-logo-sm.png" alt="PokeBaller" />
        </a>
    </div>
</div>
<nav class="navbar justify-content-end navbar-dark bg-dark">
    <!-- Navbar content -->
    <ul class="nav justify-content-end">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                COLLECTION
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/collection">VIEW</a></li> <!-- TODO: replace # with code -->
                <li><a class="dropdown-item" href="/add">ADD</a></li> <!-- TODO: replace # with code -->
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link active logout" href="/login">LOGOUT</a>
        </li>
    </ul>
</nav>

<div>

    <h2>Welcome to PokeBaller!</h2>
    <p>Use PokeBaller to add and keep track of cards in your own personal digital collection.</p>
    <p>Navigate to "add" to begin compiling cards to your collection.</p>
    <p>To see your collection, navigate to "view."</p>

</div>

<div class="container">

    <h2 class="header-two"> <span class="poke-red">Suggested</span> Cards:</h2>
    <section class="row justify-center card-table">
        {{#each this}}


        <button onclick="add('{{rid}}', '{{rname}}', '{{rrarity}}', '{{rimages}}')" class="card col-2">
            <img src="{{rimages}}" class="img-responsive w-100" alt="{{rname}}">
            <div class="overlay">
                <p class="rare-text">Rarity: {{rrarity}}</p>
            </div>
        </button>


        {{/each}}
    </section>

</div>
